#userReview{
  padding: 40px 15px 40px 15px;
}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr  ;

}





@media only screen and (max-width: 600px) {
  #userReview{
    padding: 40px 15px 40px 15px;
  }
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }


}
