/* Desktop first */
body {
  text-align: center;
}
input {
  min-width: 150px;
}

#searchBar {
  padding-bottom: 60px;
}

.main{
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  outline-color: black;
  outline-width: 5px;
  outline-style: solid;
  background-color: rgb(222, 237, 219);
}
#moviePoster {
  width: 100%;
}
#rating {
  position:absolute;
  top:10px;
  left: 10px;
  background-color: yellow  ;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.movieInfo{
  background-color: ;
}
.reviewBox{
  background-color: darkgray;
}



/* Mobile */
@media only screen and (max-width: 600px) {
  .main{
    grid-template-columns: 1fr;
    max-width: 250px;
  }


}
